.nav-link {
	white-space: nowrap;
}

.navbar {
	background: linear-gradient(
		to right,
		rgba(255, 100, 100, 0.629),
		rgba(255, 100, 100, 0.629)
	) !important;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Optional subtle border */
}
