.volunteerForm {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9; 
}

.volunteerInput {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px; 
}

button {
  padding: 10px;
  background-color: #007BFF; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px; 
  margin-top: 10px; 
}


button:hover {
  background-color: #0056b3; 
}

.volunteerLabel {
  margin: 10px 0 5px;
}
